@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    font-family: "Lexend", serif;
    font-style: normal;
}   
body{
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}
@media(max-width:596px){
    body{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media(min-width:596px) and (max-width:992px){
    body{
        padding-left: 50px;
        padding-right: 50px;
    }
}