@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    font-family: "Lexend", serif;
    font-style: normal;
}   
body{
    padding-left: 50px;
    padding-right: 50px;
}